<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISWDatosAquacorp" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:10:00" receiveTimeout="00:10:00" openTimeout="00:10:00" closeTimeout="00:10:00">
			<readerQuotas maxDepth="32" maxStringContentLength="2147483647"
			  maxArrayLength="2147483647" />
			<security mode="None">
				<transport clientCredentialType="None"></transport>
			</security>
		</binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.swdatosaquacorp.somee.com/SWDatosAquacorp.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISWDatosAquacorp"
        contract="SWDatos.ISWDatosAquacorp" name="BasicHttpBinding_ISWDatosAquacorp" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación -->
			<serviceDebug includeExceptionDetailInFaults="true"/>
			<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
	  </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="SWNegocioMovil" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="ISWNegocioMovil" behaviorConfiguration="web"/>
      </service>
    </services>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
 
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>